 @inherits LayoutComponentBase
@inject AuthenticationService AuthService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            
            <AuthorizeView>
                <Authorized>
                    <div class="user-info">
                         @userName
                        <button class="" @onclick="HandleLogout">Cerrar sesión</button>
                    </div>
                    <br />

                </Authorized>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="login">
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="registration">
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Register
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string userName;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userName = user.FindFirst(ClaimTypes.Name)?.Value; // Obtener el nombre del usuario desde los claims
        }
    }
}
@code {
    private async Task HandleLogout()
    {
        await AuthService.Logout();
        Navigation.NavigateTo("/login");
    }
}