
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <img src="logoSubastaMaestra-removebg-preview.png" alt="Logo" style="height: 45px; width: 140px;" />
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item  py-0">
            <NavLink class="nav-link " href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>
    <AuthorizeView>
        <Authorized>
            <nav class="flex-column">
                <div class="nav-item  py-0 ">

                    <NavLink class="nav-link gap-2 " href="misProductos">
                        <span class=" bi-journal-bookmark-fill" aria-hidden="true"></span> Mis Publicaciones
                    </NavLink>
                </div>
            </nav>
        </Authorized>

    </AuthorizeView>
    <AuthorizeView>
        <Authorized>
            <nav class="flex-column">
                <div class="nav-item py-0">
                    <NavLink class="nav-link gap-2" href="misOfertas">
                        <span class=" bi-bookmark-star-fill" aria-hidden="true"></span> Mis Ofertas
                    </NavLink>
                </div>
            </nav>
        </Authorized>

    </AuthorizeView>


</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

