@page "/register";
@using SubastaMaestra.Models.DTOs.User
@inject HttpClient _httpclient;

<h1>Registrar usuario</h1>

<input placeholder="Nombre" @bind=user.Name />
<input placeholder="Email" @bind=user.Email />
<input placeholder="Contraseña" @bind=user.Password />


@code {
    UserCreateDTO user = new UserCreateDTO();
    string mensaje = "";
    async Task Registrar()
    {
        var response = await _httpclient.PostAsJsonAsync("api/User/Register", user);
        mensaje = await response.Content.ReadAsStringAsync();
    }
}